# Archivos del sistema operativo macOS
**/.DS_Store
**/CV_JRMB_2024.pptx
**/CVJRMB.docx
**/context.md
.AppleDouble
._*
.Spotlight-V100
.Trashes

# Editores de código e IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.log
*.tmp
Thumbs.db
